{% extends "base.html" %}

{% block title %}mnemonic{% endblock %}

{% block content %}

    <div id="content-wrap">
        <header>
            <h1 style="color:green">Psuedorandom Mnemonic phrase:</h1>
            <h2 style="background-color: lightgreen"> {{phrase}} </h2>
        </header>
        <div id="json">
            <pre>
                <code>
                    {{results}}
                </code>
            </pre>
        </div>
    </div>

    {% include "includes/footer_warn.html" %}
{% endblock %}
