{% extends "base.html" %}

<head>
    {% block title %}home{% endblock %}

    <style>
        h1 {text-align: center;}
        h2 {text-align: center;}
        p {text-align: center;}
    </style>
</head>

{% block content %}
    <section>
        <script src="https://kit.fontawesome.com/090ca49637.js" crossorigin="anonymous"></script>

        {% if user is defined %}
            <h1>Welcome to {{user}}'s home page!</h1>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                {% endif %}
            {% endwith %}
        {% else %}
            <h1 align="center">Hello ₿ World!</h1>
        {% endif %}
            <br>
            <div style="background-color: orange;" align="center">
                <p>Current block height: {{ height }}</p>
                <p>Bitcoin price: ${{ price }}</p>
                <p>Moscow time: {{ sats }} </p>
                <!--<p>Moscow Time: {{ sats }} <i class="fak fa-satoshisymbol-solidtilt"></i></p>-->
            </div>
    </section>
{% endblock %}
