{% extends "base.html" %}

{% block title %}home{% endblock %}

{% block content %}
    <div id="content-wrap">
        {% if user is defined %}
            <header>
                <h1>Welcome to {{user}}'s home page!</h1>
            </header>
            <!-- {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                {% endif %}
            {% endwith %} -->

        {% else %}
            <header >
                <h1 style="font-size:80px">Hello ₿ World!</h1>
            </header>
        {% endif %}

        <div id="div-index">
            <p>Current block height: {{ height }}</p>
            <p>Bitcoin price: ${{ price }}</p>
            <p>Moscow time: {{ sats }} </p>
        </div>
    </div> <!--end content wrap-->

    <footer >
        <img id="btc-logo" src="{{ url_for('static', filename='images/bitcoin-btc-logo-full.svg') }}" alt="Bitcoin logo">
    </footer>
{% endblock %}


<!-- 
    <p>Moscow Time: {{ sats }} <i class="fak fa-satoshisymbol-solidtilt"></i></p>
    <script src="https://kit.fontawesome.com/090ca49637.js" crossorigin="anonymous"></script> -->