{% extends "base.html" %}

{% block title %}random mnemonic{% endblock %}

{% block content %}

    <header>
        <h1 >Hello ₿ World!</h1>
        <br>
        <p >This tool creates a pseudo-randomly generated mnemonic phrase (heed the footer). Choose how many bits of entropy to include in the mnemonic. Then a mnemonic phrase will be created.</p>
    </header>

    <br>

    <section>
    </section>

    <br> <br>

    <section style="text-align: center">
        <form method="POST" action=" {{ url_for('random') }} ">
            <select name="Select-Size" size="1" id="size">
                <option value="">- Please select a size -</option>
                <option value="12"> 12 words (128 bits of entropy) </option>
                <option value="15"> 15 words (160 bits of entropy) </option>
                <option value="18"> 18 words (192 bits of entropy) </option>
                <option value="21"> 21 words (224 bits of entropy) </option>
                <option value="24"> 24 words (256 bits of entropy) </option> </select>

                <br><br>

            <input type="submit" value="Create mnemonic" id="btc-button">
        </form>
    </section>

{% endblock %}

{% block footer %}

    <footer style="position: absolute">
        <span style="color:red">WARNING</span><br>
        This tool is for educational purposes only. Use a cryptographically secure pseudorandom number generator to produce the initial entropy. A reputable hardware signing device is the preferred method for mnemonic codeword generation. Never let that initial entropy touch the internet.
    </footer>
{% endblock %}
