{% extends "base.html" %}

{% block title %}Resources{% endblock %}

{% block content %}
    <div id="content-wrap">
        <header>
            <h1>Hello ₿ World!</h1>
            <p>
                For all of your Bitcoin information needs, checkout the <a href="https://en.bitcoin.it/wiki/Main_Page">Bitcoin Wiki.</a><br>
                Also visit <a href="https://bitcoin.org/en/">bitcoin.org</a>. Then try some of the resources below!
            </p>
        </header>

        <hr>

        <section class="margins-resources">
            <h2 class="h2-resources">Books</h2>
            <p class="p-resources">
                <a class="a-resources" href="https://saifedean.com/thebitcoinstandard/">The Bitcoin Standard: The Decentralized Alternative to Central Banking</a><br>
                <a class="a-resources" href="https://github.com/bitcoinbook/bitcoinbook">Mastering Bitcoin</a><br>
                <a class="a-resources" href="https://github.com/jimmysong/programmingbitcoin">Programming Bitcoin</a><br>
                <a class="a-resources" href="https://vijayboyapati.medium.com/the-bullish-case-for-bitcoin-6ecc8bdecc1">The Bullish Case for Bitcoin</a>
            </p>

            <h2 class="h2-resources">Education</h2>
            <p class="p-resources">
                <a class="a-resources" href="https://learn.saylor.org/course/view.php?id=468">Bitcoin for Everybody</a><br>
                <a class="a-resources" href="https://learn.saylor.org/course/view.php?id=500">Bitcoin for Developers</a><br>
                <a class="a-resources" href="https://www.youtube.com/watch?v=bBC-nXj3Ng4">But how does bitcoin actually work?</a><br>
                <a class="a-resources" href="https://learnmeabitcoin.com">learnmeabitcoin</a> <br>
            </p>

            <h2 class="h2-resources">Media</h2>
            <p class="p-resources">
                <a class="a-resources" href="https://unchained.com/gradually-then-suddenly">Gradually, then suddenly</a><br>
                <a class="a-resources" href="https://www.youtube.com/playlist?list=PL2jAZ0x9H0bQFY6wIbQfnrnIlqMcSHd6X">The Saylor series: What is Money Podcast</a><br>
                <a class="a-resources" href="https://bitcoinmagazine.com">Bitcoin Magazine</a><br>
                <a class="a-resources" href="https://dergigi.com/2020/04/27/dear-family-dear-friends/">Dear Family, Dear Friends</a><br>
            </p>


            <h2 class="h2-resources">Additional</h2>
            <p>
                <a class="a-resources" href="https://www.hope.com">hope.com</a><br>
                <a class="a-resources" href="https://bitcoin.stackexchange.com">Bitcoin Stack Exchange</a><br>
                <a class="a-resources" href="https://allprivatekeys.com/mnemonic-code-converter#english">allprivatekeys.com</a><br>
                <a class="a-resources" href="https://bitcoindev.network/bitcoin-cli-sandbox/">Bitcoin CLI Sandbox</a><br>
                <a class="a-resources" href="https://bitcoin-resources.com">bitcoin-resources.com</a><br>

            </p>
        </section>

    </div>

    <footer >
        <img id="btc-logo" src="{{ url_for('static', filename='images/bitcoin-btc-logo-full.svg') }}" alt="Bitcoin logo">
    </footer>
{% endblock %}