{% extends "base.html" %}

<head>
    {% block title %}Resources{% endblock %}

</head>

<body>
    {% block content %}

            <h1 align="center">Hello ₿ World!</h1>
            <p>Here are some resources</p>

            <h2><a href="https://bitcoin.org/bitcoin.pdf">Bitcoin Whitepaper</a></h2>
            <h2><a href="https://bitcoin.org/en/">bitcoin.org</a></h2>
            <h2><a href="https://github.com/bitcoinbook/bitcoinbook">Mastering Bitcoin</a></h2>
            <h2><a href="https://learnmeabitcoin.com">learnmeabitcoin</a></h2>
            <h2><a href="https://unchained.com/gradually-then-suddenly">Gradually, then suddenly</a></h2>
            <h2><a href="https://learn.saylor.org/course/view.php?id=468">Bitcoin for Everybody</a> and <a href="https://learn.saylor.org/course/view.php?id=500">Bitcoin for Developers</a></h2>
            <h2><a href="https://www.youtube.com/playlist?list=PL2jAZ0x9H0bQFY6wIbQfnrnIlqMcSHd6X">The Saylor series: What is Money Podcast</a></h2>
            <h2><a href="https://saifedean.com/thebitcoinstandard/">The Bitcoin Standard: The Decentralized Alternative to Central Banking</a></h2>
            <h2><a href="https://dergigi.com/2020/04/27/dear-family-dear-friends/">Dear Family, Dear Friends</a></h2>
            <h2><a href="https://bitcoinmagazine.com">Bitcoin Magazine</a></h2>
            <h2><a href="https://bitcoin.stackexchange.com">Bitcoin Stack Exchange</a></h2>
            <h2><a href="https://www.youtube.com/watch?v=bBC-nXj3Ng4">But how does bitcoin actually work?</a></h2>
            <h2><a href="https://www.hope.com">hope.com</a></h2>
            <h2><a href="https://allprivatekeys.com/mnemonic-code-converter#english">allprivatekeys.com</a></h2>


    {% endblock %}

</body>