<!DOCTYPE html>
<html lang="en">

  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='highlight/styles/agate.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <title>{% block title %}hi{% endblock %}</title>
  </head>


  <body style="background-color: darkgreen;">
        <div id="page-container2">
          {% block content %} {% endblock %}
          {% block footer %} {% endblock %}
        </div>

  </body>
</html>
