{% extends "base.html" %}

{% block title %}mnemonic{% endblock %}

{% block content %}

    <div id="content-wrap">
        <header>
            <h1 style="color:green">Psuedorandom Mnemonic phrase:</h1>
        </header>

        <section class="margins">
            <h2 id="h2-mn">{{ phrase }}</h2>
            <div id="json-mn">
                <pre>
                    <code>
{{results}}
                    </code>
                </pre>
            </div>
        </section>
    </div>

    {% include "includes/footer_warn.html" %}
{% endblock %}
