{% extends "base.html" %}

{% block title %}brain wallet {% endblock %}

{% block content %}
    <div id="content-wrap2" >


        <header>
            <h1>Brain Wallet</h1>
        </header> 


        <section class="margins">
            <p>
                What is a <a href="https://en.bitcoin.it/wiki/Brainwallet">brainwallet</a>? This is a deprecated and method for creating a bitcoin address using only your brain. Essentially, you are creating a private key from a phrase you have memorized. This could be a song lyric, poem, or really any string of letters you can think of. The phrase is hashed with sha256. The resulting digest is your private key. You can then construct the public key and corresponding bitcoin address. Try out the address generator below! It will tell you how many sats have previously been funded to the address (Funded) and how many sats remain in the address (Summary). <i>Note</i>, this method is definitely not secure (see footer). But, it does make for a fun guessing game!
            </p> <br>

            <form action="{{ url_for('brain_wallet') }}" method="POST">
                <p><b>Enter phrase</b></p>
                <input type="text" name="phrase" placeholder="I love Bitcoin!">
                <input type="submit" id="btc-button" value="Create Address" >
            </form> <br>

            <table style="margin-bottom: 100px" id="bwTable">
                <tr>
                    <th>Phrase</th>
                    <th>Address</th>
                    <th>Funded</th>
                    <th>Summary</th>
                </tr>
                {% for key in session %}
                {% set funded = session[key][1] | int %}
                    <tr>
                        <td>"{{key}}"</td>
                        <td>{{session[key][0]}}</td>
                        {% if funded > 0 %}
                            <td style="background-color: lightgreen" >{{funded}}</td>
                        {% else %}
                            <td >{{funded}}</td>
                        {% endif %}
                        <td>{{session[key][2]}}</td>
                    </tr>
                {% endfor %}
            </table>


                <form id="clear" action="{{ url_for('clear_session') }}" method="POST">
                    <input type="submit"  value="Clear Session">
                </form>


                
        </section>

    </div> <!--end content-wrap-->

    <script>
        var bwTable = document.getElementById("bwTable");
        var nrows = bwTable.rows.length;

        window.onload = function() {
            if (nrows < 2) {
                document.getElementById("clear").style.visibility="hidden"
            }
        }
    </script>

    {% include "includes/footer_warn.html" %}

{% endblock %}