{% extends "base.html" %}

{% block title %}verify-sig{% endblock %}

{% block content %}

    <div id="content-wrap">
        <header>
            <h1>Converting a Mnemonic into Something Useful</h1> <br>
        </header>

        <section class="margins">
            <p>
                In this section we are going to describe what is going on under the hood when a mnemonic phrase is converted into various useful forms. In particular, we will describe everything about the process of first deriving a mnemonic phrase all the way through address generation. We will include Python code snippets to help you understand each step along the way.
            </p>
        </section>
    </div>

    {% include "includes/footer_logo.html" %}

{% endblock %}