{% extends "base.html" %}

{% block title %}serialize multisig{% endblock %}

{% block content %}
    <div id="content-wrap">
        <header>
            <h1>Serialize a Multisig Transaction</h1>
        </header>

        <section class="margins">
            <p>Code for how to serialize a multisig redeem script. In this example, we
                have 5 public keys and the quorum is 2. Each component of the redeem script
                is converted to hex and amalgamated. Each opcode has a special hex number
                that can be found in the <a href="https://en.bitcoin.it/wiki/Script#Opcodes">Bitcoin wiki here</a>.
            </p>

            <div id="json">
                <pre>
                    <code>
import hashlib
# push the number2 (OP_2=52),
# push 65bytes (41), push pubkey1, 41, p2, 41, p3, 41, p
# push the number5 (OP_5=55)
# OP_CHECKMULTISIG=AE

p1 = "04C16B8698A9ABF84250A7C3EA7EEDEF9897D1C8C6ADF47F06CF73370D74DCCA01CDCA79DCC5C395D7EEC6984D83F1F50C900A24DD47F569FD4193AF5DE762C587"
p2 = "04A2192968D8655D6A935BEAF2CA23E3FB87A3495E7AF308EDF08DAC3C1FCBFC2C75B4B0F4D0B1B70CD2423657738C0C2B1D5CE65C97D78D0E34224858008E8B49"
p3 = "047E63248B75DB7379BE9CDA8CE5751D16485F431E46117B9D0C1837C9D5737812F393DA7D4420D7E1A9162F0279CFC10F1E8E8F3020DECDBC3C0DD389D9977965"
p4 = "0421D65CBD7149B255382ED7F78E946580657EE6FDA162A187543A9D85BAAA93A4AB3A8F044DADA618D087227440645ABE8A35DA8C5B73997AD343BE5C2AFD94A5"
p5 = "043752580AFA1ECED3C68D446BCAB69AC0BA7DF50D56231BE0AABF1FDEEC78A6A45E394BA29A1EDF518C022DD618DA774D207D137AAB59E0B000EB7ED238F4D800"

redeem = f"5241{p1}41{p2}41{p3}41{p4}41{p5}55AE"

redeem = bytes.fromhex(redeem)
hash1 = hashlib.sha256(redeem).digest()
rip = hashlib.new('ripemd160')
rip.update(hash1)
print(rip.hexdigest()) # 54c557e07dde5bb6cb791c7a540e0a4796f5e97e (matches that given in https://github.com/bitcoinbook/bitcoinbook/blob/develop/ch07.asciidoc)
                    </code>
                </pre>
            </div>
        </section>
    </div>

    {% include "includes/footer_logo.html" %}
{% endblock %}