body {
    background-color: #387416;
    /*
    background-color: darkgreen;
    https://www.webfx.com/web-design/color-picker/ 
    */

}

header {
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    font-family:  Geneva;
}

p {
    font-family:  Geneva;
    font-size: 1.2em;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input {
    width:250px;
    height: 40px;
    color: black;
    border-radius: 12px;
    border: solid 2px;
    text-align: center;
}

input:focus {
    border: solid 2px;
}

input:hover {
    border: solid 2px;
}

code {
    font-weight: bold;
    color: forestgreen
}

select {
    border: solid 2px;
    border-radius: 12px;
    background-color: rgb(146, 178, 209);
    height: 30px;
    text-align: center;
}

#page-container {
    background-color: whitesmoke;
    border: solid;
    border-color: #521674;
    position: relative;
    min-height: 100vh;
    margin: 0px 0px;
}

#content-wrap {
padding-bottom: 8.5rem;  /* Leave room for footer */
}

#content-wrap2 {
padding-bottom: 13.5rem;  /* Leave room for footer */
}

#div-index {
    background-color: orange;
    border-top:solid;
    border-bottom:solid;
    text-align: center; 
    padding-top: 10px;
}

#btc-logo {
    position: absolute;
    bottom: 4px;
    display: block;
    height: 5.5rem;
    width:100%;
}

#resource {
    padding-left: 10px; 
    padding-bottom: 50px; 
}

#red {
    color: red
}

/* apply these margins to all text */
.margins {
    margin: 0 10%;
    text-align: left;
    margin-bottom: 11.5rem;
}

.margins-resources {
    margin: 5% 15%;
    text-align: center;
    margin-bottom: 11.5rem;
}

#json {
    text-align: left;
    margin-bottom: 2rem;
}

#json-mn {
    text-align: left;
    margin-bottom: 12rem;
}


#h2-mn {
    background-color: lightgreen;
    margin-bottom: 4rem;
}

.h2-resources {
    border: solid; 
    border-color: #521674;
    background-color: #387416;
}

.p-resources {
    margin-bottom: 50px;
}

.a-resources {
    /*color: #742316;*/
    color: #166774;
}

#btc-button {
    background-color: rgb(6, 230, 103);
}

#btc-button:hover {
    border: solid 2px;
    background-color: orange;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.table-resources {
    margin-bottom:20px;
    margin-left: 10px;
    width:60%;
}


.tx-version {
    color: blue;
    transition: ease-in-out all .4s;
    font-weight: bold;
}
.tx-version:hover {
    background-color: aqua;
}

.tx-nin {
    color: green;
    transition: ease-in-out all .4s;
    font-weight: bold;
}
.tx-nin:hover {
    background-color: lightgreen; 
}

.tx-inid {
    color: purple;
    transition: ease-in-out all .4s;
    font-weight: bold;
}
.tx-inid:hover {
    background-color: linen; 
}

.tx-index {
    color: grey;
    transition: ease-in-out all .4s;
    font-weight: bold;
}
.tx-index:hover {
    background-color: yellow; 
}

.tx-len {
    color: brown;
    transition: ease-in-out all .4s;
    font-weight: bold;
}
.tx-len:hover {
    background-color: aqua; 
}

.tx-unlock {
    color: darkkhaki;
    transition: ease-in-out all .4s;
    font-weight: bold;
}
.tx-unlock:hover {
    background-color: lightgreen; 
}

.tx-seq {
    color: red;
    transition: ease-in-out all .4s;
    font-weight: bold;
}
.tx-seq:hover {
    background-color: hotpink; 
}

.tx-nout {
    color: lightblue;
    transition: ease-in-out all .4s;
    font-weight: bold;
}
.tx-nout:hover {
    background-color: indigo; 
}

.tx-sats {
    color: lightseagreen;
    transition: ease-in-out all .4s;
    font-weight: bold;
}
.tx-sats:hover {
    background-color: wheat; 
}

.tx-locksize {
    color: magenta;
    transition: ease-in-out all .4s;
    font-weight: bold;
}
.tx-locksize:hover {
    background-color: peru; 
}

.tx-lock {
    color: olivedrab;
    transition: ease-in-out all .4s;
    font-weight: bold;
}
.tx-lock:hover {
    background-color: pink; 
}

.tx-time {
    color: black;
    transition: ease-in-out all .4s;
    font-weight: bold;
}

.tx-time:hover {
    background-color: red;
}