
#page-container {
    /*border-color: forestgreen;*/
    position: relative;
    min-height: 100vh;
}

#content-wrap {
padding-bottom: 8.5rem;    /* Footer height */
}

/*
footer {
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    height: 5.5rem;            /* Footer height 
    text-align: center;
} 

.footer-warn {
    background-color: rgb(135, 131, 131);
    height: 7.5rem;            /* Footer height 
}
*/


#btc {
    display: block;
    height: 5.5rem;            /* Footer height */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#div-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
      

body {
    text-align: center;
    background-color: rgba(13, 130, 50, 0.675);
}

header {
    bottom: 0;
    margin: 1% 8%;
}


h1 {
    font-family:  Geneva;
    text-align: center;
}

p {
    font-family:  Geneva;
    font-size: 1.2em;
}

input {
    width:200px;
    height: 40px;
    margin:20px;
    color: black;
    border-radius: 12px;
    border: solid 2px;
    text-align: center;
    font-variant-caps: all-small-caps;
}

input:focus {
    border: solid 2px green 
    border: solid 2px;
}

input:hover {
    border: solid 2px;
}


#btc-button {
    background-color: rgb(6, 230, 103);
}

#btc-button:hover {
    border: solid 2px;
    background-color: orange;
}


select {
    border: solid 2px;
    border-radius: 12px;
    background-color: rgb(146, 178, 209);
    height: 30px;
    text-align: center;
}


.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
