<!DOCTYPE html>
<html lang="en">

    <style>
        footer{
            text-align: center;
            position: absolute;
            bottom: 0;
            background-color: rgb(155, 152, 152);
        }
    </style>

    <footer>
        <div>
            <p>
            <span id="red">WARNING</span><br>
            This tool is for educational purposes only. Use a cryptographically secure pseudorandom number generator to produce the initial entropy. A reputable hardware signing device is the preferred method for mnemonic codeword generation. Never let that initial entropy touch the internet. Read <a href="https://rya.nc/files/cracking_cryptocurrency_brainwallets.pdf">Cracking Cryptocurrency Brainwallets</a> for more information about why humans are not a good source of entropy.
            </p>
        </div>
    </footer>

</html>
